.review_box {
  background: #f8f8f8;
  padding: 40px 40px 46px 42px;
  margin-bottom: 30px;
  height: calc(100% - 24px);
}
.review_box h4 {
  font-size: 24px;
  font-weight: 700;
  color: #00124e;
  line-height: 1.42;
  margin-bottom: 0;
  transition: 0.3s;
  text-transform: uppercase;
}
.review_box h5 {
  font-size: 14px;
  font-weight: 600;
  color: #ff5733;
  text-transform: uppercase;
  margin: 10px 0 5px 0;
}
.review_box p {
  font-size: 14px;
  line-height: 1.71;
  font-weight: 500;
  color: #687083;
  margin: 0;
}
