.notFoundText_banner {
  height: 400px;
  display: flex;
  align-items: center;
  background: #ebedef;
}
.notFoundText_banner h3 {
  font-size: 45px;
  color: #1a1a1a;
  text-transform: capitalize;
}
