.home_banner {
  height: 700px;
  display: flex;
  align-items: center;
  background: #f0f0f0;
}
.home_banner .banner__text {
  max-width: 543px;
}

.home_banner .banner__text span {
  font-size: 18px;
  font-weight: 600;
  color: #fd4949;
  display: block;
  text-transform: uppercase;
}

.home_banner .banner__text h3 {
  font-size: 60px;
  font-weight: 700;
  color: #00124e;
  line-height: 1.27;
  margin: 20px 0 25px 0;
}

@media (max-width: 767.98px) {
  .home_banner .banner__text h3 {
    font-size: 35px;
    margin: 9px 0 25px 0;
  }
}
.home_banner .banner__text p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
}
.bike_img {
  max-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bike_img img {
  max-width: 100%;
  max-height: 500px;
}
