.main_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(235, 237, 239, 1);
}
.main_menu a {
  font-size: 16px;
  font-weight: 600;
  padding: 20px 30px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #1a1a1a;
}
.main_menu a:hover {
  color: #ff5733;
}
