@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
}
a {
  transition: 0.3s;
}
a:hover {
  color: #ff5733;
}
.section_pading {
  padding: 80px 0;
}
.theme_title {
  font-size: 30px;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.theme_btn {
  background: #ff5733;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  display: inline-block;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  padding: 18.5px 50px;
  border: 1px solid transparent;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
}
.card {
  height: 400px;
}

@media (max-width: 575.98px) {
  .theme_btn {
    padding: 12px 18px;
  }
}

.theme_btn.small_btn {
  padding: 13.5px 41px;
}

.theme_btn:hover {
  color: #ff5733;
  border-color: #ff5733;
  background: transparent;
}

.home9_primary_line {
  border: 0;
  font-size: 14px;
  font-weight: 700;
  color: #ff5733 !important;
  font-family: "DM Sans", sans-serif;
  display: inline-block;
  text-transform: uppercase;
}

.theme_btn2 {
  background: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  display: inline-block;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  color: #ff5733;
  font-weight: 700;
  padding: 18.5px 50px;
  border: 1px solid transparent;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
}

@media (max-width: 575.98px) {
  /* line 697, G:/laragon/www/themeforest/Ecommarce_03/HTML/HTML/scss/_btn.scss */
  .theme_btn2 {
    padding: 12px 18px;
  }
}

/* line 714, G:/laragon/www/themeforest/Ecommarce_03/HTML/HTML/scss/_btn.scss */
.theme_btn2.small_btn {
  padding: 13.5px 41px;
}

/* line 717, G:/laragon/www/themeforest/Ecommarce_03/HTML/HTML/scss/_btn.scss */
.theme_btn2:hover {
  color: #fff;
  border-color: #ff5733;
  background: #ff5733;
}
